{% extends "recipe_actions/main.html" %}

{% block title %}
    recipe_list
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    </div>

    <div class="container">
        <div class="row justify-content-center text-center">  
            <h5 class="my-2">Total Recipe: {{total_recipes}}</h5>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Category</th>
                        <th scope="col">Recipe Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{recipe.category}}</td>
                            <td>{{recipe.name}}</td>
                            <td>                        
                                <a href="{% url 'recipe_detail' recipe.id  %}" class="btn btn-primary">Details</a>
                                <a href="{% url 'recipe_viewdelete' recipe.id  %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container my-4">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <a href="{% url 'recipe_create' %}" class="btn btn-warning">Create New Recipe</a>
            <a href="{% url 'frontpage' %}" class="btn btn-success" class="mx-2" >Show Recipes</a>
        </form>
    </div>
{% endblock body %}
    